.aviaozinho {
    height: 500px;
    width: 100%;
}

.confh1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 35px 0 35px 0;
    background-color: rgb(160, 226, 94);
    padding: 1%;
}

.conftxt {
    line-height: 22px;
    text-align: justify;
    margin: 35px 0 35px 0;
}

strong {
    font-weight: bold;
}

.confh2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 1%;
    background-color: rgb(198, 240, 156);
    border-radius: 5px;
    display: inline;
}

.chave {
    background-color: #646363;
    font-size: 18px;
}

td {
    text-align: justify;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 30px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pictograma {
    max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.Cordafaixa {
    background-color: red;
}

.Cordafaixa1 {
    background-color: yellow;
}

.Cordafaixa2 {
    background-color: blue;
}

.Cordafaixa3 {
    background-color: green;
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
}

.teste1 {
    margin-top: 20px;
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 2px outset black;
}

div {
    text-align: center;
}

.Palavra1 {
    color: green;
}

.Palavra2 {
    color: rgb(0, 131, 253);
}

.Palavra3 {
    color: red;
}

@media screen and (max-width: 768px) {
    .teste1 {
        margin-top: 20px;
        width: 250px;
    }
    .aviaozinho {
        height: 180px;
    }
}