form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 22px;
    padding: 5px;
}

legend {
    font-size: 22px;
    margin-bottom: 12px;
}

#opcao {
    padding: 20px 0 0 0;
}

.pergunta {
    font-size: 15px;
    color: black;
    margin: 0 0 15px 0;
    padding: 5px 15px;
    width: 40%;
    border-radius: 5px;
}

input::placeholder {
    color: black;
}

.enviar {
    display: block;
    width: 20%;
    padding: 15px 0;
    background-color: rgb(142, 216, 93);
    font-size: 20px;
    border: none;
    margin: 15px 0 0 0;
    transition: 1s all;
    cursor: pointer;
    border-radius: 5px;
}

.enviar:hover{
    background-color: aqua;
}

@media screen and (max-width: 768px){

.pergunta{
    width: 90%;
} 

.enviar{
    width: 40%;
}

main{
    height: 600px;
}

}

