.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

/* .titulo{
    display: flex ;
    align-items: center;
    
} */

.redirecionar{

    /* display: flex ;
    margin-top: 140px;
    justify-content: space-between; */
    /* width: 320px; */

}

@media screen and (max-width: 768px){

    .cabecalho{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .redirecionar{
        margin-top: 20px;
    }

    .meio{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .Info{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

