.divisao {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 70px;
}

.item {
    margin: 20px 0px 20px 0;
    background-color: rgb(198, 240, 156);
    padding: 20px;
    border-radius: 8px;
}

.sub_titulo {
    text-align: center;
    font-size: 30px;
    background-color: rgb(160, 226, 94);
    padding: 1%;
}

.ImagemQUemSomos {
    border-color: rgb(190, 245, 153);
    border-width: 4px;
    border-style: solid;
    width: 200px;
    height: 250px;
}

.item p {
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    width: 200px;
}

.link {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divisao {
        flex-direction: column;
        margin-left: 0px;
    }
}