body {
    background-color: white;
    font-family: 'Merriweather', serif;
    height: 100%;
    background-image: url(../imagem/background2.png);
}

.cabecalho {
    padding: 30px;
    background-color: rgb(190, 245, 153);
}

.titulo {
    font-size: 60px;
    color: black;
    text-align: center;
}

.folha-imagem {
    height: 67px;
}

.rodape p {
    font-size: 12px;
}

.logo-ifms {
    height: 80px;
}

.redirecionar {
    list-style-type: none;
    background-color: rgb(142, 216, 93);
    text-align: center;
    padding: 10px;
}

.redirecionar li {
    display: inline-block;
}

.link_borda {
    border-right: 2px outset rgb(0, 0, 0);
}

.link_menu {
    text-decoration: none;
    padding: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.link_menu:hover {
    color: white;
}

main {
    padding: 30px;
    height: 100%;
    width: 65%;
    background-color: rgb(226, 247, 213);
    margin: 8px;
    border-radius: 5px;
}

.rodape {
    background-color: rgb(190, 245, 153);
    padding: 5px;
}

.rodape p {
    font-size: 12px;
}

.logo-ifms {
    height: 80px;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        padding: 10px;
    }
    .titulo {
        font-size: 40px;
        /* word-break: normal; */
        text-align: center;
    }
    .folha-imagem {
        height: 30px;
    }
    main {
        width: 90%;
        height: 100%;
        padding: 10px;
    }
    .link_menu {
        padding-left: 5px;
        padding-right: 5px;
    }
}