body {
    background-image: url(../imagem/plantiao2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
}

.cabecalho {
    background-color: rgb(91, 182, 30);
    padding: 30px;
    height: 15vh;
    width: 70%;
}

.logo {
    height: 120px;
}

.titulo {
    font-size: 60px;
    color: black;
}

.cabecalho li{

    list-style-type: none;
    padding: 5px;

}

.link_cabecalho{

    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.link_cabecalho:hover{

color: white;

}

main{
    background-color: rgb(190, 245, 153);
    width: 70%;
    padding: 30px;
    height: 75vh;
    /* background-image: linear-gradient(to right, #171617, #000000);
    background-image: linear-gradient(to bottom, #171617, #000000); */
}

.rodape{

    background-color: rgb(91, 182, 30);
    color: black;
    text-align: center;
    padding: 5px 30px 5px 30px;
    height: 2vh;
    width: 70%;

}

@media screen and (max-width: 768px){

.titulo{
    font-size: 100px;
    word-break: normal;
    text-align: center;
}

}
