body {
    background-color: white;
    font-family: 'Merriweather', serif;
}

.cabecalho {
    padding: 30px;
}

.titulo {
    font-size: 60px;
    color: black;
    text-align: center;
}

.folha-imagem{
    height: 67px;
}

main{
    background-color: rgb(190, 245, 153);
    padding: 30px;
    height: 700px;
}

.rodape{
    background-color: rgb(91, 182, 30);
    padding: 5px;
}

.rodape p {
    font-size: 12px;
}

.logo-ifms{
    height: 80px;
}

.redirecionar{
    list-style-type: none;
}

.link_rodape{
    text-decoration: none;
    padding: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.link_rodape:hover{

    color: white;
    
}

@media screen and (max-width: 768px){

.titulo{
    font-size: 100px;
    word-break: normal;
    text-align: center;
}

}
