/* body{
    background-color: rgb(00,80,00);
} */



/* header{
    text-align: center;
    background-color: #ffffffff;
    font-size: 30px;
    padding: 5px;
    font-style: oblique;
} */



.lista{
    text-align: center;
    font-size: 20px;
    padding-top: 8px;
    
}



.imagem{
    height: 500px;
    width: 800px;
    /* position: relative; */ 
    /* top: 50px; */ 
    /* left: 550px; */
    border: solid black 5px;
}
 